/* Default Style Options */
$cyan-color: #00bcd4;
$white-color: #ffffff;
$gray-color: #8e97a3;
$light-gray-color: #afb7c1;
$anthracite-color: #424b56;
$hoar-color: #e6e9ec;
$red-color: #f44336;
$dark-blue-color: #3c3950;
$blue-color: #5442f0;
$green-color: #3baf7d;

$cyan-background: #00bcd4;
$white-background: #ffffff;
$gray-background: #d6d9de;
$anthracite-background: #333a42;
$light-green-background: rgba(231,255,222,0.9);
$light-blue-background: #e4f7fb;
$overlay-background: rgba(0,0,0,.3);

$popup-overlay-background: rgba(51,58,66,.9);
$popup-background: #f1f1f1;

$element-border-radius: 3px;
$panel-border-radius: 5px;
$dashboard-nav-border-radius: 5px;

$element-transition: all 0.3s;
$element-box-shadow: 0.5px 0.5px 5px 1px rgba(0, 0, 0, 0.3);
$element-bottom-shadow: 0px 5px 15px 0px rgba(0,0,0,0.1);
$element-top-shadow: 0px -3px 5px 0px rgba(0,0,0,0.1);

$element-outline-button: #5f727f;

/* Light Colors & Backgrounds */
$light-body-color: #65707e;
$light-border-color: #cdd1d7;

$light-main-background: #e6e9ec;
$light-toggle-background: #e6e9ec;
$light-toggle-active-background: #8e97a3;
$light-tooltip-background: rgba(230,233,236,0.97);

/* Dark Colors & Backgrounds */
$dark-body-color: #afb6bf;
$dark-border-color: #4b545e;

$dark-main-background: #23282d;
$dark-toggle-background: #4b545e;
$dark-toggle-active-background: #8e97a3;
$dark-tooltip-color: #bcc3cc;
$dark-tooltip-background: rgba(66,75,86,0.97);

/* Page Options */
$page-options-background: #f1f1f1;

/* Dashboard */
$dashboard-color: #5f727f;
$dashboard-background: #f1f1f1;
$dashboard-nav-bg: #dfe5e8;
$dashboard-nav-bg-active: #ffffff;
$dashboard-nav-color: #8e97a3;
$dashboard-nav-color-active: #3c3950;
$dashboard-nav-shadow: 0px 5px 15px 0px rgba(0,0,0,0.2);
$dashboard-system: #99a9b5;

